@charset "UTF-8";

#user_post_list_div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1.5%;
    box-shadow: 6px 6px 1px 1px #bcecff;
    border: 2px solid #ffebf7;
    margin: 0 25%;
}

.user_post_one_div{     
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    border-bottom: 1px dotted;
    padding: 11px;
}

#user_post_list_header_div{
    font-size: 1.7em;
    margin: 0 0 1.5em 3em;
    margin: 0 10px 30px;
}

#user_post_list_title{
    margin: 0 0 0 0;
}

.user_post_list_hr{
    display: flex;
}