@charset "UTF-8";

#user_info_modify_form_div {
    width: 20em;
    margin: 7% auto;
    padding: 3.5% 3%;
    border-radius: 10px;
    box-shadow: 6px 6px 1px 1px #bcecff;
    border: 2px solid #ffbbe3;
}

.modify_form_input_div{
    font-size: 1em;
    padding: 3%;
    margin: 6% 6%;
    height: 1px;
}

#check_alert{
	font-size: 1em;
    padding: 3%;
    margin: 6% 6%;
    height: 1px;
}

#check_mid{
    padding: 1.4%;
}

#view_password_icon{
	position: absolute;
    width: 2em;
    height: 2em;
    right: auto;
}

#user_info_modify_form_button_div{
    display: flex;
    justify-content: center;
    padding: 12% 14%;
}

.user_info_modify_form_hr {
    border: 0;
    border-top: 1px dotted #ffa8db;
    border-bottom: 1px dotted #ff7eca;
    width: 80%;
  }

 input{
    border-width: 0;
    width:20px;
    background-color: #ffebf7;
 }
  
 label {
    display: inline-block;
    width: 100px; 
    margin-right: 10px; 
}

#check_alert{
	font-size: 1em;
    margin: 1%;
}