@charset "UTF-8";

a{
	text-decoration: none;
}

#user_order_view_div{
	width:70%;
	margin-left: auto;
	margin-right: auto;
}

#user_order_view_item_list{
	display: flex;
	justify-content: center;
	padding: 15px 20px;
	flex-direction: column;
	margin-left: 18%;
}

.od_div{
	display: flex;
	align-items: center;
	padding: 10px;
	border-bottom: 1px dotted #082a903b;
	width: 61%;
}

.r1c4{
	text-align: center;
	padding: 6px 10px;
}

.order_photo_div{
	text-align: center;
}

.order_photo{
	object-fit: contain;
	height: 100px;
	width: 100px;
}


.o_count_sum_div{
	text-align: center;
}

.order_info{
  	display: flex; 
    line-height:1.3;
	margin: 1em 0 1em 22%;
	flex-wrap: wrap;
    flex-direction: column;
}

.button_div{
	display: flex;
	align-items: center;
}

#user_order_view_head{
	margin: 0 20%;
}

#user_order_view_head > div{
	margin: 10px 10px;
}

#user_order_view_head_title{
	font-size: 1.5em;
}

#user_order_view_head_num{
	color: #082a904d;
    font-size: 13px;
}

.order_info_title{
	font-size: 1.2em;
    padding: 7px 0;
}

.order_info_content{
    font-size: 13px;
}
