@charset "UTF-8";

#user_info_modify_form{
    width: 30em;
    margin: 2% auto auto;
    padding: 3.5% 3%;
    border-radius: 10px;
    box-shadow: 6px 6px 1px 1px #bcecff;
    border: 2px solid #ffbbe3;
}

input{
    border-width: 0;
    background-color: #ffebf7;
    height: 2.5em;
    border-radius: 10px;
    width: 70%;
    padding-left: 2%;
    padding-right: 2%;
}

.modify_form_input_div{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 2% auto;
}

.modify_form_input_div > div:first-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input_label{
    width: 5em;
}

#check_mid, #check_alert{
    margin: 2% auto 2% 0;
}


.bottom_border_div{
    width: 100%;
    align-self: center;
    border-bottom: 1px solid #ffa8db;
}

#email_input_div{
    position: relative;
}

#view_password_icon{
    width: 2em;
    height: 2em;
    position: absolute;
    right: 3%;
}

#user_info_modify_form_button_div{
    text-align: center;
}