@charset "UTF-8";

#login_form{
    width: 20em;
    margin: 7% auto;
    padding: 3.5% 3%;
    background: #ffebf7;
    border-radius: 10px;
}

#login_form > p{
    font-size: 1.3em;
}

#login_form > div{
    margin: 6% 0;
}

p{
    font-size: 1.1em;
    padding: 3%;
    margin: 1% 0;
    border-radius: 10px;
}

input{
    background: #bcecff;
    border: none;
    width: 88%;
}

input[type="text"], input[type="password"]{
    font-size: 1.1em;
    border-radius: 10px;
    padding: 2% 6%;
}

#login_div, #find_info_div{
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
}

#login_div{
    padding-top: 8%;
}

#find_info_div > input[type="button"]{
    width: 50%;
}