@charset "UTF-8";

form{
	width: 30em;
	margin: auto;
	box-shadow: 6px 6px 1px 1px #bcecff;
	border: 2px solid #ffebf7;
}


.item_img_div{
	position: relative;
	width: 15em;
	height: 15em;
	padding: 2%;
	margin: 2% auto;
}

#item_img{
	width: 100%;
}

#item_delete_id{
	width: 3em;
	height: 3em;
	position: absolute;
	bottom: 2%;
	right: 2%;
}

.shop_item_div{
	width: 55%;
	margin: 3% auto;
	border-bottom: 1px solid #ffa8db;
	font-size: 1.2em;
}

#item_detail{
	display: flex;
	justify-content: space-between;
}

input[type="text"]{
	border: none;
	width: 5em;
	text-align: center;
}



#item_count_div, #shop_button_bar{
	width: 75%;
	display: flex;
	justify-content: center;
	margin: 4% auto;
}

/* #shop_button_bar{
	background-color: red;
}

#item_img{
	object-fit:cover;
}

#item_delete_id, #button_plus, #button_minus{
	cursor: pointer;
}

#item_info_div{
	width: 200px;
	height: 300px;
}
				
.item_img_div{
	height:300px;
	width: 300px;
}
							
#item_img {
	height: 100%;
	width: 100%;
	object-fit: contain;
} 
					
#item_detail_img{
	height: 100%;
	width: 100%;
} */