@charset "UTF-8";
#shop_button_bar{
	background-color: red;
}

#item_img{
	object-fit:cover;
}

#item_delete_id, #button_plus, #button_minus{
	cursor: pointer;
}

#item_info_div{
	width: 200px;
	height: 300px;
	align-item : center;
}
				
.item_img_div{
	height:300px;
	width: 300px;
}
							
#item_img {
	height: 100%;
	width: 100%;
	object-fit: contain;
} 
					
#item_detail_img{
	height: 100%;
	width: 100%;
}