@charset "UTF-8";

#fixed_list{
    width: 20vw;
    box-shadow: 6px 6px 1px 1px #bcecff;
	border: 2px solid #ffebf7;
}

.story_main{
	display: flex;
	width: 80vw;
	margin: auto;
	position: relative;
}

.left, .right{
	padding: 0 3%;
}

.left{
	margin: auto 2% auto auto;
}

.right{
	margin: auto auto auto 2%;
}

.left_button, .right_button{
	width: 3em;
	height: 5em;
}

.img_class{
	width: 30vw;
	height: 40vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.story_img{
	object-fit: contain;
	padding: 1.5%;
	box-shadow: 6px 6px 1px 1px #bcecff;
	border: 2px solid #ffebf7;
}

#create_no_story > img{
	width: 4em;
	height: 4em;
	cursor: pointer;
	position: absolute;
	bottom: 45vh;
    right: 48vw;
}

#create_yes_story > img {
    width: 4em;
    height: 4em;
    cursor: pointer;
    position: absolute;
    bottom: -3vh;
    right: 16vw;
}

.story_info_div{
	width: 80vw;
	margin: auto;
}

.count_list{
	width: 40vw;
	border-top: 1px solid #082a90;
	margin: 3% auto 0;
	display: flex;
	justify-content: center;
}

.count_info_div{
	display: flex;
	font-size: 1.1em;
}

.count_info_div > input{
	width: 5em;
	border: none;
}

.count_info_view, .count_info_like{
    height: 2em;
	line-height: 2em;
	padding: 4%;
}

.count_info_view{
	width: 4em;
}

.count_info_like{
	width: 6.5em;
}

.like_button_div{
	display: flex;
    align-items: center;
}

.like_button{
	height: 2em;
	width: 2em;
}

.comment{
	justify-content: center;
    display: flex;
}

.like_img{
	width: 25px;
	height: 25px;
}

#story_div{
	display: flex;
	justify-content: center;
}