@charset "UTF-8";

#create_story{
	margin: 2% 0;
	width: 100vw;
}

#create_story > input{
	width: 11em;
	display: block;
	margin-left: auto;
	margin-right: 5%;
}

#storyContainer{
	margin-top: 5%;
}

.story > div{
	display: flex;
	width: 80vw;
	margin: auto;
}

.left, .right{
	margin: auto;
	padding: 0 3%;
}

.img_class{
	width: 100%;
}

.story_img{
	width: 100%;
}

.story_info_div > div{
	margin: 2% auto;
	display: flex;
}

.count_info_div{
	display: flex;
	font-size: 1.1em;
}

.count_info_div > input{
	width: 5em;
	border: none;
}

.count_info_view, .count_info_like{
    height: 2em;
	line-height: 2em;
	padding: 4%;
}

.count_info_view{
	width: 4em;
}

.count_info_like{
	width: 6.5em;
}

.like_button_div{
	display: flex;
    align-items: center;
}

.like_button{
	height: 2em;
	width: 2em;
}
