@charset "UTF-8";

*{
	box-sizing: border-box;
}
#home_div{
	display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
}

#photo_banner {
	margin-top: 0%;
	display: flex;
}

.photo_main {
	overflow: hidden;
	width: 60vw;
	height: 500px;
  	position:relative;
}

.img_container {
	width: 60vw;
	height: 500px;
	position:absolute;
	transition: 2s;
	display: flex;
}

.img_slide{
	width: 60vw;
	height: 500px;
	margin: 0.1%;
	display: inline-block;
}

.banner_img {
	width: 60vw;
	height: 500px;
}

.left, .right {
	padding: 0 3%;
	cursor: pointer;
}

.left {
	margin: auto 0 auto auto;
}

.right {
	margin: auto auto auto 0;
}

.story{
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
}

.story_container{
	display: flex;
}

.story_img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	padding : auto;
	margin: 20px 10px 20px 10px;
	display: inline-block;
	border: 5px solid #bcecff;
	cursor: pointer;
}

.board_view_list{
	display: flex;
	justify-content: center;
}

.board_container{
	display: flex;
}

.board_feed{
	width: 215px; 
	cusor: pointer;
	height: 297px;
	margin: 1.5%;
	background-color: #FFFFE0;
	border-radius: 10px;
	overflow: hidden;
}

.board_text{
	display : -webkit-box;
	-webkit-line-clamp: 6;
	-webkit-box-orient: vertical;
	over-flow: hidden;
	text-align: ;
	font-size: 0.9;
}

.board_img{
	width: 11.8vw; 
	height:200px; 
	margin: auto; 
	padding: auto;
	border-radius: 10px;
}

