@charset "UTF-8";

*{
	box-sizing: border-box;
}

#photo_banner {
	margin-top: 0%;
	display: flex;
}

#photo_main {
	width: 80vw;
	height: 500px;
  	transform: translateX(-50%);
  	position:relative;
}

.img_container {
	width: 80vw;
	height: 500px;
	position: absolute;
}

.img_slide{
	width: 80vw;
	height: 500px;
	margin: 0.1%;
	display: inline-block;
	float: left;
}

.banner_img {
	width: 76vw;
	height: 500px;
}

.left, .right {
	padding: 0 3%;
	postion: absolute;
	cursor: pointer;
}

.left {
	margin: auto 0 auto auto;
}

.right {
	margin: auto auto auto 0;
}

.story {
	display: flex;
}

#board_view_button_bar {
	text-align: center;
	margin: 1% 0 2%;
}

#fixed_list, #unfixed_master_list, #unfixed_fan_list {
	width: 80%;
	margin: auto;
}

#fixed_list {
	margin-bottom: 10%;
}

#unfixed_list {
	height: 33vh;
}

.b_list {
	width: 60%;
	margin: auto;
}

th {
	text-align: center;
	font-size: 1.3em;
	padding: 2%;
	border-bottom: 2px solid #082a90;
}

td {
	padding: 2% 2% 2% 4%;
}

a {
	text-decoration: none;
}

#board_div>input {
	margin-left: 68vw;
}